<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sipsoftphone" type="SIPSorcery.SoftPhone.SIPSoftPhoneState, SIPEntegration" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="STUNServerHostname" value="" />
    <add key="SIPUsername" value="" />
    <add key="SIPPassword" value="" />
    <add key="SIPServer" value="" />
    <add key="SIPFromName" value="" />
    <add key="DnsServer" value="" />
    <add key="UseAudioScope" value="false" />
    <add key="AudioOutDeviceIndex" value="-1" />
  </appSettings>
  <!--<sipsoftphone>
    <sipsockets>
      <sipsocket>192.168.11.50:7060</sipsocket>
    </sipsockets>
  </sipsoftphone>-->
</configuration>
